<!-- The button to open modal -->
<label for="display-account-modal"></label>

<!-- Put this part before </body> tag -->
<input type="checkbox" id="display-account-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box relative" id="display-account-modal-box">
    <label
      title="esc"
      for="display-account-modal"
      class="btn btn-sm btn-circle absolute right-2 top-2"
      >✕</label
    >
    <div class="flex flex-col mt-7" id="display-account-modal">
      <div class="flex flex-col justify-center w-full gap-1">
        <input
          tabindex="0"
          class="h-8 pl-3"
          placeholder="Service"
          type="text"
          name=""
          id="display-service"
        />
        <div class="divider"></div>
        <input
          tabindex="1"
          class="h-8 pl-3"
          placeholder="Email"
          type="text"
          name=""
          id="display-email"
        />
        <input
          tabindex="2"
          class="h-8 pl-3"
          placeholder="Password"
          type="password"
          name=""
          id="display-password"
        />
        <div class="divider"></div>
        <div
          class="collapse border border-base-300 bg-base-200 rounded-box mb-2"
        >
          <input type="checkbox" />
          <div class="collapse-title text-base-content font-bold">
            Security questions
          </div>
          <div id="questions-container" class="collapse-content"></div>
        </div>
        <input
          tabindex="3"
          class="h-8 pl-3"
          placeholder="Question"
          type="text"
          name=""
          id="display-question"
        />
        <input
          tabindex="4"
          class="h-8 pl-3"
          placeholder="Answer"
          type="text"
          name=""
          id="display-answer"
        />
        <button
          tabindex="5"
          id="display-add-question"
          class="btn btn-ghost btn-sm btn-outline btn-secondary"
        >
          Add
        </button>
      </div>

      <div class="flex flex-row justify-end w-full gap-1 mt-14">
        <label
          class="btn btn-error btn-ghost btn-sm"
          for="display-account-modal"
          >Cancel</label
        >
        <label class="btn btn-success btn-sm" for="display-account-modal"
          >Apply</label
        >
      </div>
    </div>
  </div>
</div>
