<div class="flex flex-row relative my-2 mx-3">
  <input
    tabindex="0"
    class="w-full h-10 px-3"
    type="text"
    id="search-query"
    placeholder="Search query (service, email)"
  />
  <div
    id="search-bar-shortcut"
    class="absolute top-1/2 -translate-y-1/2 right-3 hidden md:block"
  >
    <kbd class="kbd">ctrl</kbd>
    +
    <kbd class="kbd">shift</kbd>
    +
    <kbd class="kbd">f</kbd>
  </div>
</div>
